/* ini css */

/* Main */

    /* body */
    body{
        font-family: "Roboto", sans-serif;
        margin: 0px auto;
    }
    
    /* back to top */
    #top-button {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #b13d99;
        color: white;
        cursor: pointer;
        padding: 15px;border-radius: 4px;
        border-radius: 4px;
        opacity: .7;
        width: 50px;
        height: 50px;
        
      }
      
      #top-button:hover {
        background-color: #555;
      }
    
    /* navbar */
    nav{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        margin-left: 3rem;
    }
    
    .burger {
        display: none;
    }
    
    .burger .line {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    
    .logo-icon{
        height: 50px;
        width: 50px;
        background-image: url("../assets/logo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .logo-icon > h1{
        margin-left: 70px;
        margin-top: 0px;
    }
    
    .nav-link{
        color: #000;
        text-transform: uppercase;
        font-size: 15px;
        padding: 8px 15px;
        font-weight: 500;
        position: relative;
        border-radius: 4px;
        text-decoration: none;
    }
    .nav-link:hover{
        background-color: #f55e46;
        color: #fff;
    }
    
    /* Main Content Home */
    .header-container{
        border-top:3px solid #f55e46;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlb3BsZSUyMGNvbXB1dGVyfGVufDB8fDB8fHww");
        height: 1000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header-text{
        
        max-width: 1200px;
        margin: 250px auto;
        color: #fff;
        text-align: center;
    }
    .header-container > h1{
        margin-top: 0px
    }
    .header-text h1{
        font-weight: 100;
    }
    .header-text h1 span{
        font-weight: 700;
        font-style: italic;
        text-decoration: underline;
    }
    .header-text h2{
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 80px;
    }
    .header-text h2 span{
        font-weight: 800;
    }
    
    .header-text a {
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
    
    .header-text a:hover {
        border: 1px solid #f55e46;
        background-color: #f55e46;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
    
    
    
    .change-content{
        display: flex;
        flex-direction: row;
        max-width: 500px;
        margin: 0px auto;
    }
    
    #rename{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 13px;
        height: 50px;
        font-size: 18px;
    }
    
    .change-button{
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        background-color: transparent;
        margin-top: 0px;
        width: 40%;
        height: 70px;
        font-size: 18px;
    
    }
    
    .change-button:hover {
        border: 1px solid #f55e46;
        background-color: #f55e46;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    
    }
    
    /* Main Content Ads Banner */
    .banner-container {
        position: relative;
        width: 100%;
      }
    
      .banner-slide img {
        
        width: 100%;
        height: auto;
        animation: fade 1.5s;
      }
    
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
    
      /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
    
    /* Main Content Profile */
    
    .profile{
        display: flex;
        max-width: 1200px;
        height: 600px;
        margin: 0px auto;
        background-image: url("../assets/college-campus.svg");
        background-repeat: no-repeat;
        background-size: auto;
        align-items: center;
    }
    
    .title{
        text-align: center;
        font-weight: 100;
        font-size: 36px;
        color: #f55e46;
        padding: 20px;
        margin: 0px;
    
    }
    .title span{
        font-weight: 700;
    }
    
    .profile-content{
        display: flex;
        justify-content: flex-end;
        max-width: 475px;
        margin-left: auto;
    
    }
    .copy{
        font-size: 25px;
        font-weight: 300;
        line-height: 50px;
        text-align: justify;
    }
    
    /* Main Content Vision and Mission */
    
    .vision-mission{
        background-color: #f55e46;
    }
    
    .vision-mission-content{
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        height: 600px;
        margin: 0px auto;
        align-items: center;
        color: #fff;
    }
    .vision-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .vision-details h4{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .vision-details p{
        font-size: 18px;
        font-weight: 400;
    }
    
    .mission-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mission-details h4{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .mission-items{
        display: flex;
        flex-direction: row;
    }
    .mission{
        margin-right: 20px;
    }
    .mission h3{
        text-align: center;
    }
    
    .mission p{
        max-width: 320px;
        text-align: justify;
    }
    .title-2{
        text-align: center;
        font-weight: 100;
        font-size: 36px;
        color: #fff;
        padding: 20px;
        margin: 0px;
    }
    .title-2 span{
        font-weight: 700;
    }
    
    /* Main Content Facilities*/
    
    .facility{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .facility-list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px auto;
        max-width: 1200px;
        background-color: transparent;
    
    }
    .facility-item{
        position: relative;
        min-height: 250px;
        float: left;
        width: calc(100% / 4 - 1px);
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        height: 220px;
        perspective: 1000px;
        overflow: visible;
        text-align: center;
        transition: all 0.6s;
        transform-style: preserve-3d;
    }
    
    .facility-item:hover{
        transform: rotateX(180deg);
      }
    
    .front-part, .back-part{
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: middle;
        text-align: center;
        min-height: 240px;
        width: 100%;
        overflow: hidden;
        background-color: #f55e46;
        padding-top: 30px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .facility-item:nth-child(2) .front-part, .facility-item:nth-child(2) .back-part {
        background-color: #fdcd3d;
    }
    .facility-item:nth-child(3) .front-part, .facility-item:nth-child(3) .back-part {
        background-color: #fc9c6a;
    }
    .facility-item:nth-child(4) .front-part, .facility-item:nth-child(4) .back-part {
        background-color: #b13d99;
    }
    
    .facility-item:nth-child(1) .back-part{
        transform: rotateX(180deg);
    }
    .facility-item:nth-child(2) .back-part {
        background-color: #fdcd3d;
        transform: rotateX(180deg);
    }
    .facility-item:nth-child(3) .back-part {
        background-color: #fc9c6a;
        transform: rotateX(180deg);
    }
    .facility-item:nth-child(4) .back-part {
        background-color: #b13d99;
        transform: rotateX(180deg);
    }
    
    .front-part > h4 {
        font-size: 24px;
        clear: both;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 15px;
        color: #fff;
    }
    
    .back-part > h4 {
        font-size: 18px;
        clear: both;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 8px;
        color: #fff;
    }
    .back-part > p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
    
    /* Main Content Achievement */
    
    #achievement{
        background-color: #f55e46;
        padding: 20px
    }
    .achievement-list {
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        width: 1200px;
        height: auto;
    }
    
    .achievement-card {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .5s ease-in-out;
    
    }
    .achievement-card:hover{
        transform: translateY(-10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .achievement-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .achievement-card > h3 > a{
        color: #f55e46;
        text-decoration: none;
    }
    
    .achievement-card p{
        width: 335px;
    }
    
    /* Main Content Message */
    
    .message-us-section{
        display: flex;
        flex-direction: column;
        background-image: url("https://live.staticflickr.com/7552/15859949890_ae59899d6c_m.jpg");
        border-top: 3px solid #f55e46;
        
    
    }
    .message-container{
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .message-container section {
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
    }
    
    /* Main Content Form */
    .form-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
    }
    
    .form-group{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .label-input {
        padding: 10px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        
    }
    .label-input-radio > span{
        margin-left: 10px;
    }
    label{
        padding: 10px;
    }
    
    input[type="text"], input[type="date"], textarea {
        width: 70%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    textarea {
        resize: vertical;
        height: 100px;
    }
    
    
    
    button {
        padding: 10px 20px;
        margin-top: 15px;
        background-color: #f55e46;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
    button:hover {
        background-color: #ffffff;
        border: 1px solid #f55e46;
        color: black;
    }
    
    
    /* Main Content Result of Form */
    .result-container{
        width: 100%;
    }
    .form-result{
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        height: 90%;
        width: 80%;
    }
    .value-form{
        padding: 20px;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    input[type="text"]:focus,
    input[type="date"]:focus,
    textarea:focus {
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }
    
    input[type="text"].error,
    input[type="date"].error,
    textarea.error,
    .gender-group.error {
        border-color: #dc3545;
        background-color: #f9f0f1;
    }
    
    input[type="text"].success,
    input[type="date"].success,
    textarea.success{
        border-color: #28a745;
        background-color: #d4edda;
    }
    
    form small{
        font-size: 14px;
        margin-top: 5px;
        display: block;
        color: #dc3545;
    }
    
    .error-message {
        color: #dc3545;
        font-size: 0.9em;
        display: none;
    }
    
    /* Footer */
    footer{
        background-color: #343434;
        border-top:3px solid #f55e46;
        color: #fff;
        text-align: center;
        padding: 20px 0px;
    }
    .footer-container{
        margin: 0px auto;
    }
    
    footer a{
        color: #fff;
    } 



/* Main Content Responsive */

/*maximum width 600px*/
@media only screen and (max-width: 600px) {

    /* home */
    .header-text{
        left: 0%;
    }
    .change-content{
        left: 5%;
        width: 90%;
    }

    /* profile */
    .profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/college-campus.svg");

    }
    .profile-content{
        width: 530px;
        color: #fff;
        margin: auto;
        max-width: 100%;
    }
    /* vision - mission */
    .vision-mission{
        height: 1000px;
    }

    
    .mission-items{
        flex-direction: column;

    }
    .vision-details p{
        max-width: 480px;
        text-align: justify;
    }
    .mission p{
        max-width: 480px;
        text-align: justify;
        margin-left: 6px;
    }

    /* facility */
    .facility{
        height: 1200px;
    }
    .facility-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
        max-width: 540px;
        background-color: transparent;
    }
    .facility-item {
    position: relative;
    min-height: 250px;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 220px;
    perspective: 1000px;
    overflow: visible;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
}

    /* achievement */

    .achievement-list {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 340px;
        height: auto;
    }
    .achievement-card p{
        max-width: 300px;
        text-align: justify;
    }

    /* form */
    .form-container {
        flex-direction: column;
    }
    .message-container {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 10px;
    }
    .form-result{
        height: 70%;
    }

    button{
        width: 80%;
    }

}
/*minimum width 600px*/
@media only screen and (min-width: 600px) {

    /* home */
    .header-text{
        left: 0%;
    }
    .change-content{
        left: 5%;
        width: 90%;
    }

    /* profile */
    .profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/college-campus.svg");
    background-position: center;

    }
    .profile-content{
        width: 700px;
        color: #fff;
        margin: auto;
        max-width: 100%;
    }
    /* vision - mission */
    .vision-mission{
        height: 1000px;
    }

    
    .mission-items{
        flex-direction: column;

    }
    .vision-details p{
        max-width: 480px;
        text-align: justify;
    }
    .mission p{
        max-width: 480px;
        text-align: justify;
        margin-left: 6px;
    }

    /* facility */
    .facility{
        height: 1200px;
    }
    .facility-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
        max-width: 540px;
        background-color: transparent;
    }
    .facility-item {
    position: relative;
    min-height: 250px;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 220px;
    perspective: 1000px;
    overflow: visible;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
}

    /* achievement */

    .achievement-list {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 540px;
        height: auto;
    }
    .achievement-card p{
        width: 500px;
        text-align: center;
    }

    /* form */
    .form-container {
        flex-direction: column;
    }
    .message-container {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }
    .form-result{
        height: 70%;
    }

    button{
        width: 100%;
    }

}
/*minimum width 768px*/
@media only screen and (min-width: 768px) {

    /* home */
    .header-text{
        left: 0%;
    }
    .change-content{
        left: 5%;
        width: 90%;
    }

    /* profile */
    .profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/college-campus.svg");
    background-position: center;

    }
    .profile-content{
        width: 900px;
        color: #fff;
        margin: auto;
        max-width: 100%;
    }
    /* vision - mission */
    .vision-mission{
        height: 1000px;
    }

    
    .mission-items{
        flex-direction: column;

    }
    .vision-details p{
        max-width: 850px;
        text-align: justify;
    }
    .mission p{
        max-width: 850px;
        text-align: justify;
        margin-left: 6px;
    }

    /* facility */
    .facility{
        height: 1200px;
    }
    .facility-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
        max-width: 720px;
        background-color: transparent;
    }
    .facility-item {
    position: relative;
    min-height: 250px;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 220px;
    perspective: 1000px;
    overflow: visible;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
}


    /* achievement */

    .achievement-list {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 725px;
        height: auto;
    }
    .achievement-card p{
        width: 695px;
        text-align: center;
    }

    /* form */
    .form-container {
        flex-direction: column;
    }
    .message-container {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }
    .form-result{
        height: 70%;
    }

    button{
        width: 100%;
    }

}

/*minimum width 992px*/
@media only screen and (min-width: 992px) {

    /* home */
    .header-text{
        left: 8%;
    }
    .change-content{
        left: 5%;
        width: 90%;
    }

    /* profile */
    .profile{
    background-image: url("../assets/college-campus.svg");
    background-position: left;
    

    }
    .profile-content{
        width: 425px;
        color: #000;
        position: relative;
        left: 26%;
        max-width: 100%;
    }
    /* vision - mission */
    .vision-mission{
        height: 700px;
    }

    
    .mission-items{
        flex-direction: row;

    }
    .vision-details p{
        max-width: 850px;
        text-align: justify;
    }
    .mission p{
        max-width: 850px;
        text-align: justify;
        margin-left: 6px;
    }

    /* facility */
    .facility{
        height: 450px;
    }
    .facility-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px auto;
        max-width: 1080px;
        background-color: transparent;
    }
    .facility-item {
    position: relative;
    min-height: 250px;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 220px;
    perspective: 1000px;
    overflow: visible;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
}


    /* achievement */

    .achievement-list {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 725px;
        height: auto;
    }
    .achievement-card p{
        width: 695px;
        text-align: center;
    }

    /* form */
    .form-container {
        flex-direction: column;
    }
    .message-container {
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
    }
   

    button{
        width: 100%;
    }

}
/*minimum width 1200px*/
@media only screen and (min-width: 1200px) {

    /* home */
    .header-text{
        left: 20%;
    }
    .change-content{
        left: 5%;
        width: 90%;
    }

    /* profile */
    .profile{
    background-image: url("../assets/college-campus.svg");
    background-position: left;
    

    }
    .profile-content{
        width: 425px;
        color: #000;
        position: relative;
        left: 26%;
        max-width: 100%;
    }
    /* vision - mission */
    .vision-mission{
        height: 700px;
    }

    
    .mission-items{
        flex-direction: row;

    }
    .vision-details p{
        max-width: 850px;
        text-align: justify;
    }
    .mission p{
        max-width: 850px;
        text-align: justify;
        margin-left: 6px;
    }

    /* facility */
    .facility{
        height: 450px;
    }
    .facility-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px auto;
        max-width: 1080px;
        background-color: transparent;
    }
    .facility-item {
    position: relative;
    min-height: 250px;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 220px;
    perspective: 1000px;
    overflow: visible;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
}


    /* achievement */

    .achievement-list {
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        width: 1200px;
        height: auto;
    }
    .achievement-card p{
        width: 260px;
        text-align: center;
    }

    /* form */
    .form-container {
        flex-direction: column;
    }
    .message-container {
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .form-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
    }
   

    button{
        width: 100%;
    }

}

/* Responsive Menu */

@media only screen and (max-width: 768px) {
    /* Navbar Menu */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}



